extends ../layouts/base

block content
  :php
    if(strcmp($_func,'Profile')==0)
      $post_url = Route::URI($_func.'#put');
    else
      $post_url = Route::URI($_func.'#post');
  main 
    .container
      .section.scrollspy
        .row
          h3.header.center-align.teal-text= $_func
        .row
          .col.s12.m8.offset-m2.l8.offset-l2
            form(method='POST', action='#{post_url}')
              if _func == 'Profile'
                +input_method('PUT')

              if _func != 'Profile'
                .row
                  .input-field.col.s12
                    :php
                      if(!isset($username)) $username=''
                    +input('username', username).validate(type='text')
                    label(for='username') Username
             
              if _func != 'Login'
                .row
                  .input-field.col.s12
                    :php
                      if(!isset($email)) $email=''
                    +input('email', email).validate(type='email')
                    label(for='email', data-error='Invalid Email Address') Email
              
              .row
                .input-field.col.s12
                  +input('password', '').validate(type='password')
                  label(for='password') Password
              
              if _func != 'Login'
                .row
                  .input-field.col.s12
                    +input('password_confirm', '').validate(type='password')
                    label(for='password_confirm') Confirm Password
              
              if _func == 'Login'
                .row
                  .input-field.col.s12
                    +input('remember', 'remember')(type='checkbox') 
                    label(for='remember') Remember Me
             
              .row
                .input-field.col.s12
                  .center-align
                    button.btn.waves-effect.waves-light(type='submit')
                      if _func != 'Profile'
                        | #{_func}
                      else
                        | Update

              .row
                .input-field.col.s12.center-align
                  .center-align
                    if _func == 'Login'
                      :php
                        $password_reset_url = Route::URI('PasswordReset#getPasswordReset');
                      a.btn.waves-effect.waves-light(href='#{password_reset_url}') Forgot Your Password?

