extends ../layouts/base

block panel-title
  | Reset Password

block panel-body
  :php
    $post_url = Route::URI('PasswordResetController@postPasswordResetActual'); 
  form.form-horizontal(role='form', method='POST', action='#{post_url}#{email}/#{token}')
    
    .form-group
      label.col-md-4.control-label(for='password') Password
      .col-md-6
        +input('password', '').form-control(type='password')
    
    .form-group
      label.col-md-4.control-label(for='password_confirm') Confirm Password
      .col-md-6
        +input('password_confirm', '').form-control(type='password')
    
    +form_submit('Change Password')

