include ../layouts/header
include ../layouts/alerts

.container
  .row
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading
          .panel-title Reset Password
        .panel-body
          :php
            $post_url = Route::URI('PasswordResetController@postPasswordReset'); 
          form.form-horizontal(role='form', method='POST', action='#{post_url}')
            
            .form-group
              label.col-md-4.control-label(for='email') Email
              .col-md-6
                :php
                  if(!isset($email)) $email=''
                input.form-control#email(type='email', name='email' value='#{email}')
            
            .form-group
              .col-md-6.col-md-offset-4
                button.btn.btn-primary(type='submit')
                  Send Password Reset Link

include ../layouts/footer

