extends ../layouts/base

block panel-title 
  | Reset Password
          
block panel-body
  :php
    $post_url = Route::URI('PasswordReset#postPasswordReset'); 
  form.form-horizontal(role='form', method='POST', action='#{post_url}')
    
    .form-group
      label.col-md-4.control-label(for='email') Email
      .col-md-6
        :php
          if(!isset($email)) $email=''
        +input('email', email).form-control(type='email')
    .form-group
      .col-md-6.col-md-offset-4
        +form_submit('Reset Password')

