extends ../layouts/base

block content
  :php
    $back_url = Route::URI('Users#index');
    if(strcmp($_func,'Create')==0)
      $post_url = Route::URI('Users#store');
    else
      $post_url = Route::URI('Users#update').$uid.'/edit';

  main 
    .container
      .section.scrollspy
        .row
          h3.header.center-align.teal-text 
            | #{_func} User
        .row
          .col.s12.m8.offset-m2.l8.offset-l2
            form(method='POST', action='#{post_url}')
              unless _func == 'Create'
                +input_method('PUT')
                +input_hidden('uid', uid)
              .row
                .input-field.col.s12
                  :php
                    if(!isset($username)) $username='';
                  +input('username', username).validate(type='text')
                  label(for='username') Username
              
              .row
                .input-field.col.s12
                  :php
                    if(!isset($email)) $email='';
                  +input('email', email).validate(type='email')
                  label(for='email', data-error='Invalid Email Address') Email

              .row
                .input-field.col.s12
                  :php
                    $role_all = Role::All();
                    if(!isset($role)) $role='';
                  +select(role_all, 'role', role).form-control.selectpicker
                  label(for='role') Role

              .row
                .input-field.col.s12
                  +input('password','').validate(type='password')
                  label(for='password') Password
              
              .row
                .input-field.col.s12
                  +input('password_confirm','').validate(type='password')
                  label(for='password_confirm') Confirm Password
            
              .row
                .input-field.col.s12.center-align
                  button.btn.waves-effect.waves-light(type='submit')
                    if _func == 'Create'
                      | #{_func}
                    else
                      | Update

    .fixed-action-btn.horizontal(style='top: 84px; right: 24px;')
      a.btn-floating.btn-large.waves-effect.waves-light.teal(href='#{back_url}')
          i.large.material-icons clear

