extends ../layouts/base

block panel-title    
  | #{_func} User

block panel-title-right
  a.btn.btn-default(href='#{referer}') &nbsp;Back&nbsp;

block panel-body
  :php
    if(strcmp($_func,'Create')==0)
      $post_url = Route::URI('Users#store');
    else
      $post_url = Route::URI('Users#update').$uid.'/edit';
  
  form.form-horizontal(role='form', method='POST', action='#{post_url}')
    
    unless _func == 'Create'
      +input_method('PUT')
      +input_hidden('uid', uid)
      +input_hidden('referer', referer)

    .form-group
      label.col-md-4.control-label(for='username') Username
      .col-md-6
        :php
          if(!isset($username)) $username='';
        +input('username', username).form-control(type='text')
    
    .form-group
      label.col-md-4.control-label(for='email') Email
      .col-md-6
        :php
          if(!isset($email)) $email='';
        +input('email', email).form-control(type='email')

    .form-group
      label.col-md-4.control-label(for='role') Role
      .col-md-6
        :php
          $role_all = Role::All();
          if(!isset($role)) $role='';
        +select(role_all, 'role', role).form-control.selectpicker

    .form-group
      label.col-md-4.control-label(for='password') Password
      .col-md-6
        +input('password','').form-control(type='password')
    
    .form-group
      label.col-md-4.control-label(for='password_confirm') Confirm Password
      .col-md-6
        +input('password_confirm','').form-control(type='password')
  
    .form-group
      .col-md-6.col-md-offset-4
        if _func == 'Create'
          +form_submit(_func)
        else
          +form_submit('Update')

