//- index.pug
include ../layouts/header

.container
  .row
    .col-md-10.col-md-offset-1
      .panel.panel-default
        .panel-heading
          .panel-title
            | Dashboard

        .panel-body
          :php
            $login_user = Role::User();
          if login_user
            p You are logged in!
          else
            p Your Application's Landing Page.

include ../layouts/footer

