extends ../layouts/base

block content
  main
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          br
          br
          h1.header.center.teal-text.text-lighten-2= header_title
          .row.center
            h5.header.col.s12.light= header_description
          .row.center
            a.btn-large.waves-effect.waves-light.teal.lighten-1(href='#') About Us
          br
          br
      .parallax
        img(src='images/background.jpg')

    .container
      .section
        .row
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons flash_on
              h5.center Speeds up development
              p.light
                | We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons group
              h5.center User Experience Focused
              p.light
                | By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
          .col.s12.m4
            .icon-block
              h2.center.brown-text
                i.material-icons settings
              h5.center Easy to work with
              p.light
                | We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
     
