<?php

//timezone settings
$timezone = 'Asia/Taipei';
date_default_timezone_set($timezone);

//json web token key
$jwt_key = 'enter_your_encrypt_key';

//smtp information
$smtp = [
	'host' => 'smtp.gmail.com',
	'port' => 587,
	'auth' => true,
	'secure' => 'tls',
	'username' => 'your_email@gmail.com',
	'password' => 'your_password',
	'name' => 'your_name',
];

$db = [
	'default_database' => 'development',	
	'production' => [
		'adapter' => 'mysql',
		'host' => 'localhost',
		'port' => '3306',
		'name' => 'production_db',
		'user' => 'root',
		'pass' => '',
		'charset' => 'utf8',
		'collation' => 'utf8_unicode_ci',
		'table_prefix' => ''
	],
	'development' => [
		'adapter' => 'mysql',
		'host' => 'localhost',
		'port' => '3306',
		'name' => 'testing_db',
		'user' => 'root',
		'pass' => '',
		'charset' => 'utf8',
		'collation' => 'utf8_unicode_ci',
		'table_prefix' => ''
	],
	'testing' => [
		'adapter' => 'mysql',
		'host' => 'localhost',
		'port' => '3306',
		'name' => 'testing_db',
		'user' => 'root',
		'pass' => '',
		'charset' => 'utf8',
		'collation' => 'utf8_unicode_ci',
		'table_prefix' => ''
	],
];

