include ../include/lib

doctype html
html
  head
    block header
      include ../layouts/header
  body
    include ../layouts/alerts
    block nav
      include ../layouts/nav
    block content
    block footer
      include ../layouts/footer

