footer.page-footer.teal.lighten-2
  .container
    .row
      .col.l6.s12
        h5.white-text Company Bio
        p.grey-text.text-lighten-4= header_description
      .col.l3.s12
        h5.white-text Menu
        ul
          li
            a.white-text(href='#!') Link 1
      .col.l3.s12
        h5.white-text Connect
        ul
          li
            a.white-text(href='#!') Link 1

  .footer-copyright
    .container
      :php $footer_title = App::info('title');
      :php $footer_year = date("Y");
      span= footer_title 
      | &copy; #{footer_year}
      | -  
      | Powered by 
      a.brown-text.text-lighten-1(href='https://github.com/gidcs/ksmvc', target='_blank') KSMVC
      | .

script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
script(src='/js/main.js')

