footer.page-footer.teal.lighten-2
  .container
    .row
      .col.l6.s12
        h5.white-text Company Bio
        p.grey-text.text-lighten-4
          | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
      .col.l3.s12
        h5.white-text Settings
        ul
          li
            a.white-text(href='#!') Link 1
          li
            a.white-text(href='#!') Link 2
          li
            a.white-text(href='#!') Link 3
          li
            a.white-text(href='#!') Link 4
      .col.l3.s12
        h5.white-text Connect
        ul
          li
            a.white-text(href='#!') Link 1
          li
            a.white-text(href='#!') Link 2
          li
            a.white-text(href='#!') Link 3
          li
            a.white-text(href='#!') Link 4

  .footer-copyright
    .container
      :php $footer_title = App::info('title');
      :php $footer_year = date("Y");
      span= footer_title 
      | &copy; #{footer_year}
      | -  
      | Powered by 
      a.brown-text.text-lighten-1(href='https://github.com/gidcs/ksmvc', target='_blank') KSMVC
      | .

script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='http://materializecss.com/dist/js/materialize.js')
script(src='/js/main.js') 
