meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no') 

:php
  $header_description = App::info('description');
  $header_title = App::info('title');
  $header_subtitle = App::info('subtitle');

meta(name='description', content='#{header_description}')
title= header_title+' - '+header_subtitle

// CSS
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='http://materializecss.com/dist/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='/css/main.css', type='text/css', rel='stylesheet', media='screen,projection')
